.main {
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.h11 {
  color: white;
  text-align: center;
}
.contentDiv {
  display: block;
}
.displayDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;

  justify-content: center;
  text-align: start;

  margin: auto;
  margin-bottom: 1rem;
  background-color: black;
  border-radius: 10px;
  width: 30rem;
  padding-top: 1px;
  padding-bottom: 1px;
}
.h33 {
  margin-left: 1rem;
  margin-bottom: -8px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.bttnDivv {
  margin: auto;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn1 {
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgb(250, 3, 126) 0%,
    rgb(255, 196, 0) 100%
  );
}
.btn2 {
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bolder;
  background: linear-gradient(
    135deg,
    rgb(135, 250, 3) 0%,
    rgb(0, 255, 242) 100%
  );
}
.btn3 {
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgb(250, 73, 3) 0%,
    rgba(255, 0, 43, 0.801) 100%
  );
}

.filterDiv {
  position: fixed;
  margin-left: 2rem;
}

ul {
  list-style-type: none;
}

.radio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.radio-item [type="radio"] {
  display: none;
}
.radio-item + .radio-item {
  margin-top: 10px;
}
.radio-item label {
  display: block;
  padding: 5px 5px;
  background-color: black;
  opacity: 0.9;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  min-width: 250px;
  white-space: nowrap;
  position: relative;
  transition: 0.4s ease-in-out 0s;
  color: white;
}
.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.radio-item label:after {
  height: 19px;
  width: 19px;
  border: 2px solid #524eee;
  left: 19px;
  top: calc(50% - 12px);
}
.radio-item label:before {
  background: radial-gradient(
    circle at 10% 50.5%,
    rgb(255, 107, 6) 0%,
    rgb(255, 1, 107) 90%
  );
  height: 20px;
  width: 20px;
  left: 21px;
  top: calc(50%-5px);
  transform: scale(5);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
  border-color: #524eee;
}
.radio-item [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* Filter Button CSS */
